<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="wow this website is so cool" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bobthe28th.me" />
    <meta property="og:description" content="can you believe how cool it is???" />
    <meta name="theme-color" content="#4133ff">
    <title>Bobthe28th</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/code.svg">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/index.js"></script>
    {{#each scripts}}
        <script src="{{this}}"></script>
    {{/each}}
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>
<body>
    {{>header}}
    <main>
        {{{body}}}
    </main>
    {{>footer}}
</body>
</html>
