<section>
    <div class="warning">DCS 88</div>
    <div class="arrow">⬇️⬇️⬇️</div>
    <button class="download-button" onclick="window.location.href = 'dcs88/download'">Download</button>
    <div class="arrow">⬆️⬆️⬆️</div>
</section>